<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.capstone">

    <!-- Required for accessing the internet -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Add the following permissions to access storage -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

</manifest>
